<!-- jest to tylko propozycja kontaktu  -->
<div class="main">
    <div class="team">
        <div class="teamTitle">POZNAJ NASZ ZESPÓŁ<hr class="solid"></div>
        
        <br>
        <div class="photo">
            <img src="/assets/face1.jpg" alt="Avatar" class="avatar">
            <div class="desc">Daria</div>
        </div>

        <div class="photo">
            <img src="/assets/face2.jpg" alt="Avatar" class="avatar">
            <div class="desc">Kasia</div>
        </div>

        <br><br><br>

        <div class="photo">
            <img src="/assets/face3.jpg" alt="Avatar" class="avatar">
            <div class="desc">Janek</div>
        </div>

        <div class="photo">
            <img src="/assets/face4.jpg" alt="Avatar" class="avatar">
            <div class="desc">Mateusz</div>
        </div>


    </div>
    <div class="team">
        <div class="teamTitle">SKONTAKTUJ SIĘ Z NAMI<hr class="solid"></div>
        <div>Telefon/Phone number: <i>+48 123 321 321</i></div>
        <div>Email: <i>kontakt@zoopolitechniki.pl</i></div>
    </div>
</div>