<div class="main">
    <div class="team">
        <div class="teamTitle">ZESPÓŁ</div>

        <div class="person">
          <div class="about">
            <div class="name">Daria</div>
            <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates soluta omnis ullam ad dolorum fugiat! Sit quas natus harum cum voluptates placeat reprehenderit repellat. Cupiditate natus ipsa possimus unde recusandae!</div>
          </div>
          <img src="/assets/face1.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="person">
          <div class="about">
            <div class="name">Kasia</div>
            <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates soluta omnis ullam ad dolorum fugiat! Sit quas natus harum cum voluptates placeat reprehenderit repellat. Cupiditate natus ipsa possimus unde recusandae!</div>
          </div>
            <img src="/assets/face2.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="person">
          <div class="about">
            <div class="name">Janek</div>
            <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates soluta omnis ullam ad dolorum fugiat! Sit quas natus harum cum voluptates placeat reprehenderit repellat. Cupiditate natus ipsa possimus unde recusandae!</div>
          </div>
            <img src="/assets/face3.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="person">
          <div class="about">
            <div class="name">Mateusz</div>
            <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates soluta omnis ullam ad dolorum fugiat! Sit quas natus harum cum voluptates placeat reprehenderit repellat. Cupiditate natus ipsa possimus unde recusandae!</div>
          </div>
          <img src="/assets/face4.jpg" alt="Avatar" class="avatar">
        </div>


    </div>
    <div class="concact">
        <div class="concact-title">SKONTAKTUJ SIĘ Z NAMI</div>
        <div>Telefon/Phone number: <i>+48 123 321 321</i></div>
        <div>Email: <i>kontakt@zoopolitechniki.pl</i></div>
    </div>
</div>
