<div class="cennik">
    <div class="title">CENNIK</div>

    <div class="tables">
        <div class="prices">
            <div class="TextBoxes">
                <div class="Ticket type">BILET NORMALNY</div>
                <div class="description">Przysługuje każdej osobie dorosłej, nieposiadającej zniżek oraz osobm uprawnionym do niższej opłaty, lecz nie mogących tego potwierdzić odpowiednim dokumentem.</div>
            </div>
            <div class="cost">30 zł</div>
        </div>
        <div class="prices">
            <div class="TextBoxes">
                <div class="Ticket type">BILET ULGOWY</div>
                <div class="description">Bilety ulgowe przysługują dzieciom, młodzieży szkolnej oraz studentom do lat 26, osobom niepełnosprawnym, emerytom i rencistom.</div>
            </div>
            <div class="cost">15 zł</div>
        </div>
        <div class="prices">
            <div class="TextBoxes">
                <div class="Ticket type">BILET GRUPOWY</div>
                <div class="description">Do korzystania z grupowych biletów uprawnione są tylko grupy zorganizowane, liczące minimum 10 osób. Cena dotyczy biletu dla jednej osoby.</div>
            </div>
            <div class="cost">12 zł</div>
        </div>
    </div>

    <div class="SidePanel">
        <div class="SidePanelTitle">Oblicz cenę swojego biletu</div>
        <div class="SidePanelContent">
            <div class="CountingInfo">Aby obliczyć cenę swoich biletów uzupełnij poniższe dane</div><br>
            <div class="FormPrice">
                <form #PriceForm="ngForm">
                    <div class="FormsDescription">Wprowadź liczbę biletów normalnych</div>
                    <input type="number" min="0" max="250" [(ngModel)]="nr1" name="number1"><br><br>
                    <div class="FormsDescription">Wprowadź liczbę biletów ulgowych</div>
                    <input type="number" min="0" max="250" [(ngModel)]="nr2" name="number2"><br><br>
                    <div class="FormsDescription">Wprowadź liczbę biletów normalnych</div>
                    <input type="number" min="10" max="250" [(ngModel)]="nr3" name="number3"><br>
                </form>
            </div>
            <div class="SumUp">
                <div class="FirstSumUp">Cena twoich biletów to: <b>{{nr1*30+nr2*15+nr3*10}}zł</b></div>
                <div class="SumUpTitle">SUMY CZĄSTKOWE</div>
                <div class="SumUpDescription">
                    Bilety normalne: <b>{{nr1}}</b> biletów za 30zł, suma:
                    <b>{{nr1*30}}zł</b><br>Bilety ulgowe:
                    <b>{{nr2}}</b> biletów za 15zł, suma:
                    <b>{{nr2*15}}zł</b><br>Bilety grupowe:
                    <b>{{nr3}}</b> biletów za 10zł, suma:
                    <b>{{nr3*10}}zł</b>
                </div>
            </div>
        </div>

    </div>
  </div>

