.cennik {
    width: 100%;
    height: 100vh;
    margin-top: 60%;
    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(49, 104, 17);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    letter-spacing: 20px;
    text-align: center;
}

.tables {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prices {
    width: 70%;
    margin-top: 7%;
}

.TextBoxes {
    float: left;
    width: 80%;
}

.TicketType {
    text-align: left;
    font-weight: bold;
}

.cost {
    text-align: right;
    font-weight: bold;
    width: 20%;
    float: left;
}

.description {
    font-size: small;
    margin-top: 2%;
    margin-bottom: 2%;
}

.devider {
    width: 70%;
    height: 2px;
    background-color: rgb(150, 148, 148);
}