<div class="cennik">
  <div class="title">CENNIK</div>
  <p></p>
  <p></p>

  <div class="tables">
      <table id="prices">
          <tr>
              <td id="TicketType">BILET NORMALNY</td>
              <td id="cost">30zł</td>
          </tr>
          <tr>
              <td id="description">Przysługuje każdej osobie dorosłej, nieposiadającej zniżek oraz osobą uprawnionym do niższej opłaty, lecz nie mogących tego potwierdzić odpowiednim dokumentem.</td>
          </tr>
      </table>

      <div id="devider"></div>

      <p></p>
      <p></p>

      <table id="prices">
          <tr>
              <td id="TicketType">BILET ULGOWY</td>
              <td id="cost">15zł</td>
          </tr>
          <tr>
              <td id="description">Bilety ulgowe przysługują dzieciom, młodzieży szkolnej oraz studentom do lat 26 (rocznikowo), osobom niepełnosprawnym, emerytom i rencistom.</td>
          </tr>
      </table>

      <div id="devider"></div>

      <p></p>
      <p></p>

      <table id="prices">
          <tr>
              <td id="TicketType">BILET GRUPOWY</td>
              <td id="cost">12zł</td>
          </tr>
          <tr>
              <td id="description">Do korzystania z grupowych biletów uprawnione są tylko grupy zorganizowane, liczące minimum 10 osób. Cena dotyczy biletu dla jednej osoby.</td>
          </tr>
      </table>

      <div id="devider"></div>
  </div>

</div>

