<div class="all">
  <div class="opens">
    Codziennie otwarte 9.00 - 19.00
  </div>
    <div class="map">
      <div class="mapTitle">Let us lead you to the ZOO!</div>
      <div class="mapLink">Kliknij by przejść do nawigacji</div>
      <div class="car">
        <a target ="_blank" href="https://www.google.pl/maps/dir//Lodz+University+of+Technology,+Stefana+%C5%BBeromskiego+116,+90-924+%C5%81%C3%B3d%C5%BA/@51.7537146,19.4495289,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x471a34d85d1152f3:0xbe75c3beee4bad56!2m2!1d19.4517176!2d51.7537146!3e0">
        <video autoplay loop>
          <source src="/assets/car.mp4" type="video/mp4">
        </video>
      </a>
      </div>
      <div class="adress">Stefana Żeromskiego 116, 90-924 Łódź</div>
  </div>
  <div class="quality">
    <div class="qua">
      Wybiegi dostosowane do potrzeb zwierząt
    </div>
    <div class="qua">
      Wybiegi dostosowane do potrzeb zwierząt
    </div>
    <div class="qua">
      Wybiegi dostosowane do potrzeb zwierząt
    </div>
  </div>
</div>

