<div class="events">
  <div class="event">
    <div class="event-box">
      <div class="event-title">
        Dzień dziecka w ZOO!
      </div>
      <div class="event-description">
        Zabierzcie swoje pociechy na niesamowitą zabawę w naszym ZOO! Czeka ich wiele atrakcji,
        animacji zabawy ze zwierzętami pod okiem naszych pracowników. Dla rodziców też coś znajdziemy :).
        Więcej informacji na FB. Kliknij aby zobaczyć wydarzenie.
      </div>
    </div>
    <img src = "/assets/kids.jpg" class="event-img">
  </div>
  <div class="event">
    <div class="event-box">
      <div class="event-title">
        Pokaz tańczących delfinów!
      </div>
      <div class="event-description">
        Nic tak nie cieszy każdego jak widok zabwy i niesamowite sztuczki delfinów.
        Co środę odbywają się pokazy Hyzia, Dyzia i Zyzia na wodnej arenie. Zapraszamy!
        Więcej informacji na FB. Kliknij aby zobaczyć wydarzenie.
      </div>
    </div>
    <img src = "/assets/dolphin.jpg" class="event-img">
  </div>
  <div class="event">
    <div class="event-box">
      <div class="event-title">
        Otwarcie oceanarium!
      </div>
      <div class="event-description">
        Długo wyczekane oceanarium zostanie otwarte już 20 czerwca! Miłośników wszelakich zwierząt wodnych i innych,
        zapraszamy całą rodziną, z drugą połówką, grupą znajomych na wielkie otwarcie. Więcej informacji na FB.
        Kliknij aby zobaczyć wydarzenie.
      </div>
    </div>
    <img src = "/assets/oceanarium.jpg" class="event-img">
  </div>
  <div class="event">
    <div class="event-box">
      <div class="event-title">
        Półkolonie w ZOO
      </div>
      <div class="event-description">
        Zapraszamy na pełne przygód i zabawy półkolonie w ZOO. Czeka na was samodzielne karmienie zwierząt,
        zabawy z delfinami, rozmowy z papugami i wiele innych! Więcej informacji na FB. Kliknij aby zobaczyć wydarzenie.
      </div>
    </div>
    <img src = "/assets/kolonie.jpg" class="event-img">
  </div>
</div>
